*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(219, 223, 224);
}
h1{
    text-align: center;
    color: chartreuse;
    background-color: darkcyan;
}
.box{
    margin: 5px;
    width:6rem;
    height: 100px;
    display: inline-block;
    text-align: center;
    background-color: antiquewhite;
}
#box3{
    position: relative;
    left:20px;
    top:30px;
    background-color: goldenrod;
}
#box4{
    position: relative;
    z-index: 1;
}